<div class="banner" style="background-image: url('<%= asset_path("cinema-interior.jpg") %>')">
  <h2>List your favourite movies</h2>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-between mb-3">
    <h3>My Movie Lists</h3>
    <%= link_to "Create a list", new_list_path, class: "btn btn-success" %>
  </div>

  <% if @lists.size === 0 %>
    <p>
      You don't currently have any lists to display.
    </p>
  <% else %>
    <div class="card-container mb-3">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
        <% list.image_url = cl_image_path(list.photo.key, height: 300, width: 550, crop: :fit) if list.photo.key %>
          <div class="card" style="background-image: url('<%= asset_path(list.image_url) %>');">
            <h2><%= list.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
