<%
  genres = {
  '28' => asset_path("action_genre"),
  '12' => asset_path("adventure_genre"),
  '16' => asset_path("animation_genre"),
  '35' => asset_path("comedy_genre"),
  '80' => asset_path("crime_genre"),
  '99' => asset_path("documentary_genre"),
  '18' => asset_path("drama_genre"),
  '10751' => asset_path("family_genre"),
  '14' => asset_path("fantasy_genre"),
  '36' => asset_path("history_genre"),
  '27' => asset_path("horror_genre"),
  '10402' => asset_path("music_genre"),
  '9648' => asset_path("mystery_genre"),
  '10749' => asset_path("romance_genre"),
  '878' => asset_path("sci-fi_genre"),
  '10770' => asset_path("thriller_genre"),
  '53' => asset_path("TV-movie_genre"),
  '10752' => asset_path("war_genre"),
  '37' => asset_path("western_genre")
  }
%>

<div class="banner" style="background-image: url('<%= asset_path("cinema-interior.jpg") %>')">
  <h2>List your favourite movies</h2>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-between mb-3">
    <h3>My Movie Lists</h3>
    <%= link_to "Create a list", new_list_path, class: "btn btn-success" %>
  </div>

  <% if @lists.size === 0 %>
    <p>
      You don't currently have any lists to display.
    </p>
  <% else %>
    <div class="card-container mb-3">
      <% @lists.each do |list| %>
        <% poster_url = list.movies.size > 0 ? genres[list.movies.first.genre_id.to_s] : list_image = asset_path("history_genre") %>
        <%= link_to list_path(list) do %>
          <div class="card" style="background-image: url('<%= poster_url %>');">
            <h2><%= list.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
