<%
  genres = {
  '28' => asset_path("action_genre"),
  '12' => asset_path("adventure_genre"),
  '16' => asset_path("animation_genre"),
  '35' => asset_path("comedy_genre"),
  '80' => asset_path("crime_genre"),
  '99' => asset_path("documentary_genre"),
  '18' => asset_path("drama_genre"),
  '10751' => asset_path("family_genre"),
  '14' => asset_path("fantasy_genre"),
  '36' => asset_path("history_genre"),
  '27' => asset_path("horror_genre"),
  '10402' => asset_path("music_genre"),
  '9648' => asset_path("mystery_genre"),
  '10749' => asset_path("romance_genre"),
  '878' => asset_path("sci-fi_genre"),
  '10770' => asset_path("thriller_genre"),
  '53' => asset_path("TV-movie_genre"),
  '10752' => asset_path("war_genre"),
  '37' => asset_path("western_genre")
  }

  if @list.movies.size > 0
    list_image = genres[@list.movies.first.genre_id.to_s]
  else
    list_image = asset_path("history_genre")
  end
%>

<% poster_url = @list.movies.size > 0 ? @list.movies.first.poster_url : "https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg" %>

<div class="banner" style="background-image: url('<%= list_image %>')">
  <h2>
    <%= @list.name%>
  </h2>
</div>

<div class="container my-3">
  <div class="d-flex justify-content-between mb-3">
    <div></div>
    <a href="#add-movie", class="btn btn-success">Add a movie</a>

  </div>
  <% if @list.bookmarks.size === 0 %>
    <h5>(Add some movies to this list!)</h5>
  <% else %>
    <div class="card-container card-container-big">
      <% @list.bookmarks.each do |bookmark| %>
        <% movie = bookmark.movie %>
        <% poster_url = @list.movies.size > 0 ? movie.poster_url : list_image = asset_path("godfather_poster") %>
        <div class="card-details">
          <img src="<%= poster_url %>" alt="<%= movie.title %> poster">
          <div class="card-text">
            <% if movie.title.length < 38 %>
              <div class="d-flex justify-content-between">
                <h5><%= movie.title %></h5>
                <p class="text-small">
            <% else %>
              <h5><%= movie.title %></h5>
              <div>
                <p class="text-small mt-1 mb-0">
            <% end %>
                <%= movie.rating %> <i class="fa-solid fa-star"></i>
              </p>
            </div>
            <div class="text-boxed">
              <p class="text-small"><%= movie.overview %></p>
            </div>
            <div class="text-footer">
              <div class="d-flex">
                <h4><i class="fa-solid fa-quote-left"></i> &nbsp</h4>
                <p class="text-small m-0"><%= bookmark.comment %></p>
              </div>
              <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title}?" } do %>
                <h4 class="m-0 p-1"><i class="fa-solid fa-xmark"></i></h4>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="container form">
    <%= render "bookmark_form" %>
  </div>
</div>
