<--% @list.image_url = cl_image_path(@list.photo.key, height: 350, width: 1400, crop: :fill) if @list.photo.key %-->

<div class="banner" style="background-image: url('<%= image_path(@list.image_url) %>')">
  <h2>
    <%= @list.name%>
  </h2>
</div>

<div class="container my-3">
  <div class="d-flex justify-content-between mb-3">
    <div></div>
    <a href="#add-movie", class="btn btn-success">Add a movie</a>

  </div>
  <% if @list.bookmarks.size === 0 %>
    <h5>(Add some movies to this list!)</h5>
  <% else %>
    <div class="card-container card-container-big">
      <% @list.bookmarks.each do |bookmark| %>
        <% movie = bookmark.movie %>
        <div class="card-details">
          <img src="<%= bookmark.movie.poster_url %>" alt="<%= movie.title %> poster">
          <div class="card-text">
            <% if movie.title.length < 38 %>
              <div class="d-flex justify-content-between">
                <h5><%= movie.title %></h5>
                <p class="text-small">
            <% else %>
              <h5><%= movie.title %></h5>
              <div>
                <p class="text-small mt-1 mb-0">
            <% end %>
                <%= movie.rating %> <i class="fa-solid fa-star"></i>
              </p>
            </div>
            <div class="text-boxed">
              <p class="text-small"><%= movie.overview %></p>
            </div>
            <div class="text-footer">
              <div class="d-flex">
                <h4><i class="fa-solid fa-quote-left"></i> &nbsp</h4>
                <p class="text-small m-0"><%= bookmark.comment %></p>
              </div>
              <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title}?" } do %>
                <h4 class="m-0 p-1"><i class="fa-solid fa-xmark"></i></h4>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="container form">
    <%= render "lists/bookmark_form" %>
  </div>
</div>
